<% if (feed.get('selectedEntryIdx') !== -1) { %>
  <a href="<%= feed.get('url') %>" class="feed-title"><%= feed.get('title') %></a>
  <% if (feed && feed.entries) { %>
      <% var activeEntry = feed.entries[feed.get('selectedEntryIdx')]; %>
        <a class="entry-title" href="<%= activeEntry['url'] %>">
          <%= activeEntry['title'] %>
        </a>
        <% if (activeEntry['image']) { %>
          <img src="<%= activeEntry['image'] %>">
        <% }; %>
      <%= feed.entries[feed.get('selectedEntryIdx')]['summary'] %>
  <% }; %>
<% } else { %>
  <div class="feed-teaser">
  <h3><%= feed.get('description') %></h3>
    <% var topics = feed.topics(); %>
    <% if (topics.length > 0) { %>
    <h4>Topics</h4>
      <ul>
        <% topics.each(function(topic) { %>
          <li class="topic-list-item"><%= topic.get('title') %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>There are currently no topics associated with this feed.</p>
    <% }; %>   
    <button class="btn">TODO Add a Topic with current_user conditional</button>
  </div>
<% }; %>