<h1><%= feed.get('title') %></h1>
<% if (feed && feed.entries) { %>
<h3>
  <% if (feed && feed.selectedEntryIdx) { %>
    <%= feed.entries[feed.selectedEntryIdx]['title'] %>
  <% } else { %>
    <%= feed.entries[0]['title'] %>
  <% }; %>
</h3>
<p>
  <% if (feed && feed.selectedEntryIdx) { %>
    <%= feed.entries[feed.selectedEntryIdx]['summary'] %>
  <% } else { %>
    <%= feed.entries[0]['summary'] %>
  <% }; %>
</p>
<% }; %>
