<h1>I'm Root.html.erb</h1>
<div id="navbar">I'm navbar div</div>
<div id="feeds-index-bar">I'm the feeds index</div>
<div id="main-content">I'm main content</div>

<script>

$(document).ready(function(){
  Breedly.CURRENT_USER = {
    id: "<%= current_user.id %>",
    username: "<%= current_user.username %>",
    real_name: "<%= current_user.real_name %>",
    age: "<%= current_user.age %>",
    age_range: "<%= current_user.age_range %>",
    feed_url: "<%= current_user.feed_url %>"    
  };
  Breedly.initialize();
});
</script>