<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="http://css-spinners.com/css/spinner/whirly.css" type="text/css"> -->
  <link rel="icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
  <title>breedly</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'jquery-ui.min', media: 'all' %>
  <%= stylesheet_link_tag    'jquery-ui.structure.min', media: 'all' %>
  <%= stylesheet_link_tag    'jquery-ui.theme.min', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<img class="logo-full" src="<%= asset_path('logo_full.png') %>">
<%= yield %>
</body>
</html>
